.h2{
  color: rgb(105, 20, 9);
  text-align: center;
}
.table{
  background-color: rgb(25, 94, 25);
  border-radius: 10px;
  margin:auto;
  padding: 10px 20px
}
.button{
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  color: red;
  cursor: pointer;
  transition: background-color 0.4s, box-shadow 0.4s;
}
.button:hover{
  background-color: wheat;
  box-shadow: rgba(3, 3, 3, 0.973);
}
.scroll{
  overflow-y: auto;
  max-height:600px;
  display: flex;
  gap: 20px;
}
.table{
  flex: 1;
  padding: 20px;
}
.container{
  padding-inline: 7px;
}